{% extends 'base.html' %}

{%block content%}

<div style="height: 20rem; background-color:darkgreen; border-radius: 1rem; margin: 2rem">
        <h1 style="font-family: 'Indie Flower', cursive; ">
                HELLO WORLD TEST
        </h1>

        <form action="/account/hello_world/", method="post">
                {% csrf_token %}
                
                <!-- 텍스트입력 창  생성 -->
                <div>
                        <input type = "text" name = "account_input">
                </div>

                <!-- POST 요청 버튼 생성 -->
                <div>
                        <input type = "submit" class = "btn btn-primary" value="POST">
                </div>
        </form>

        {%if HelloWorldList %}
        {% for Helloworld in HelloWorldList%}
        <h4>
                 {{Helloworld.text}}
        </h4>
        {% endfor %}
        {% endif %}
        
</div>

{% endblock %}

