.full_stack_project_logo{
    font-family: 'Indie Flower', cursive; 
}

.full_stack_project_footer_button{
    text-align: center; 
    margin-bottom:2rem;
    font-size: .6rem;
}

.full_stack_project_footer{
    text-align: center; 
    margin-top:2rem;
}
.full_stack_project_header_navn{
    text-align: center; 
    margin :2rem 0;
}